doctype html
head
  title= `${title}`
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Yaldevi:wght@500&display=swap" rel="stylesheet")
  link(rel='stylesheet' href="/stylesheets/tasks.css")
  script(type='text/javascript' src='/javascripts/tasks-function.js')
body
  div#navbartasks
    img#hamburger(src="/images/Hamburger_icon.png")
    div#searchbar

      img(src="/images/magicon.png")#search-img

      form#search-form
        button#search-Button search
        input(type='search' name='searchBar' placeholder="Search Tasks")#search
    div#navButtonsTasks
      button#logoutButton: a#logoutLink(href="/users/logout") Logout
  div#largestboxtasks
    div#sidebartasks--open
      img#logo(src="/images/logo-trans-final.png")
      div#taskslistsorts
        div#tasksorts
          img#ddownarrow-tasks(src="/images/blue-ddown-arrow.PNG")
          div#options1
            p#alltasks: a.listLink(href="/users/tasks/All-Tasks")="All Tasks"
            ul#options1list
              li.alltaskoptions-open= "Today"
              li.alltaskoptions-open: a.listLink(href="/users/tasks/Tomorrow")= "Tomorrow"
              //- li.alltaskoptions-open= "This Week"
              li.alltaskoptions-open: a.listLink(href="/users/tasks/Completed-Tasks")= "Completed Tasks"
        div#listsorts
          img#ddownarrow-lists(src="/images/blue-dright-arrow.PNG")
          div#options2
            p#alllists="Lists"
            ul#options2list
              each list in lists
                li.alllistoptions-open: a.listLink(href=`/users/tasks/${list.id}`) #{list.name}
        div#tagsorts
          img#ddownarrow-tags(src="/images/blue-dright-arrow.PNG")
          div#options3
            p#alltags="Tags"
            ul#options3list
              if tags
                each tag in tags
                  li.alltagoptions-open= tag
        div#languagesorts
          img#ddownarrow-languages(src="/images/blue-dright-arrow.PNG")
          div#options4
            p#alllanguages="Languages"
            ul#options4list
              each language in languages
                li.alllanguageoptions-open= language.name
    div#mainboxtasks
      div#tasks-view
        div#tasks-form
        div.taskRight
                  button#completed Completed
                  button#delete Delete
        form(action="/users/tasks" method="POST")#tasks-form
          input(type="hidden" name="_csrf" value=csrfToken)
          input(type="text" placeholder="Add a task..." name="taskName" required)#tasks-input
          div#test-div
            select(name="langId" required).feature.task-hidden
              each language in languages
                option(value=language.id)=language.name
            select(name="listId" required).feature.task-hidden

              each list in lists
                option(value=list.id)=list.name
            //- select(name="tagId").feature.task-hidden
            //-   if tags
            //-     each tag in tags
            //-       option(value=tag.id)=tag.name
            input(type="number" value=0 name="estTime" title="Estimated Time" required).feature.task-hidden
            input(type="date" name="startDate" title="Start Date" required).feature.task-hidden
            input(type="date" name="dueDate" title="Due Date" required).feature.task-hidden
            button#tasks-button.task-hidden(disabled) Add Task
        p= "To Do:"
        div.tasks-container#tasks-container
          if tasks
            each task in incompleteTasks
              div.mainTaskList#createdTask
                div.taskLeft
                  input(type="checkbox" taskId=`${task.id}`)#taskCheckBox
                  p(taskId=`${task.id}`).taskText= task.taskName
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
          div.mainTaskList
        p= "Completed:"
        div.tasks-container#tasks-container-complete
          if tasks
            each task in completeTasks
              div.mainTaskList#createdTask
                div.taskLeft
                  input(type="checkbox" taskId=`${task.id}`)#taskCheckBox
                  p(taskId=`${task.id}` class ="completedTask").taskText= task.taskName
      div#tasks-summary
        p#taskssummarycurrentsort= `${sortedBy}`
        div#tasksummaryitemscontainer
          div#taskscount_est
            div#taskcount
              p.summarynumber= `${taskCount}`
              p.bottomsummarytext="tasks"
            div#est_time
              div#est_numbers
                div#numhrs
                  p#hoursnum= `${estHrs}`
                  p#hours="hr"
                div#nummin
                  p#minutesnum= `${estMinutes}`
                  p#mins="min"
              div#est_title
                p.bottomsummarytext="estimated"
          div#duetommorrowcount
            p.summarynumber= `${tomorrowCount}`
            p.bottomsummarytext="due tommorrow"
          div#completedcount
            p.summarynumber= `${completedCount}`
            p.bottomsummarytext="completed"
footer#splashfooter
        div#aboutdiv
            div.credentialdivs#anndiv
                div#annname
                    p.splashname="Ann Donnelly"
                div#annlinks
                    a(href="https://github.com/anndonnelly")
                        img.githublogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg")
                    a(href="https://www.linkedin.com/in/ann-donnelly/")
                        img.linkedinlogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg")
            div.credentialdivs#ajdiv
                div#ajname
                    p.splashname="AJ Abushaban"
                div#ajlinks
                    a(href="https://github.com/asabushaban")
                        img.githublogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg")
                    a(href="https://www.linkedin.com/in/aj-abushaban-919231100/")
                        img.linkedinlogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg")
            div.credentialdivs#patchdiv
                div#patrickname
                    p.splashname="Patrick Story"
                div#patchlinks
                    a(href="https://github.com/pstory721")
                        img.githublogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg")
                    a(href="https://www.linkedin.com/in/patrick-story-546539217")
                        img.linkedinlogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg")
            div.credentialdivs#williamdiv
                div#williamname
                    p.splashname="William Ziller"
                div#williamlinks
                    a(href="https://github.com/wziller")
                        img.githublogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg")
                    a(href="https://www.linkedin.com/in/william-ziller-99b45a90/")
                        img.linkedinlogo(src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg")
