doctype html
head
  title= `${title}`
  link(rel='stylesheet' href="/stylesheets/tasks.css")
  script(type='text/javascript' src='/javascripts/tasks-function.js')
body
  div#navbartasks
    img#hamburger(src="/images/Hamburger_icon.png")
    div#navButtonsTasks
      button#logoutButton: a#logoutLink(href="/users/logout") Logout
  div#largestboxtasks
    div#sidebartasks--open
      img#logo(src="/images/logo-trans-final.png")
      div#taskslistsorts
        div#tasksorts
          img#ddownarrow-tasks(src="/images/blue-ddown-arrow.PNG")
          div#options1
            p#alltasks="All Tasks"
            ul#options1list
              li.alltaskoptions-open= "Inbox"
              li.alltaskoptions-open= "Today"
              li.alltaskoptions-open= "Tomorrow"
              li.alltaskoptions-open= "This Week"
              li.alltaskoptions-open= "Trash"
        div#listsorts
          img#ddownarrow-lists(src="/images/blue-dright-arrow.PNG")
          div#options2
            p#alllists="Lists"
            ul#options2list
              //- each list in lists
              //-   li.alllistoptions-open= language.name
        div#tagsorts
          img#ddownarrow-tags(src="/images/blue-dright-arrow.PNG")
          div#options3
            p#alltags="Tags"
            ul#options3list
              each tag in userTags
                li.alltagoptions-open= tag
        div#languagesorts
          img#ddownarrow-languages(src="/images/blue-dright-arrow.PNG")
          div#options4
            p#alllanguages="Languages"
            ul#options4list
              each language in languages
                li.alllanguageoptions-open= language.name
    div#mainboxtasks
      div#tasks-view
        div#tasks-form
          form(action="/users/tasks" method="POST")#form
              input(type="hidden" name="_csrf" value=csrfToken)
              input(type="text" value placeholder="Add a task..." name="taskName")#tasks-input
              div#test-div
                select(name="langId" required).attribute.task-hidden
                      each language in languages
                          option(value=language.id)=language.name
                select(name="listId" required).attribute.task-hidden
                      each list in lists
                          option(value=list.id)=list.name
                select(name="tagId").attribute.task-hidden
                  each tag in tags
                    option(value=tag.id)=tag.name
                input(type="integer" value=0 name="estTime").attribute.task-hidden
                input(type="date" name="startDate").attribute.task-hidden
                input(type="date" name="dueDate").attribute.task-hidden
                input(type="checkbox" name="priority").attribute.task-hidden
                input(type="checkbox" name="backlog").attribute.task-hidden
                input(type="checkbox" name="sprintBacklog").attribute.task-hidden
                input(type="checkbox" name="inProgress").attribute.task-hidden
                input(type="checkbox" name="complete").attribute.task-hidden
                button#tasks-button.task-hidden(disabled) Add Task
        div#tasks-container
          if tasks
            each task in tasks
              div.mainTaskList
                div.taskLeft
                  input(type="checkbox")#taskCheckBox
                  p.taskText= task.taskName
                div.taskRight
                  button#completed Completed
                  button#delete Delete
      div#tasks-summary
        p#taskssummarycurrentsort="AllTasks"
        div#tasksummaryitemscontainer
          div#taskscount_est
            div#taskcount
              p#totalTasksSummary.summarynumber
              p.bottomsummarytext="tasks"
            div#est_time
              div#est_numbers
                div#numhrs
                  p.summarynumber=1
                  p.bottomsummarytext="hr"
                div#nummin
                  p.summarynumber=50
                  p.bottomsummarytext="min"
              div#est_title
                p.bottomsummarytext="estimated"
          div#duetommorrowcount
            p.summarynumber=1
            p.bottomsummarytext="due tommorrow"
          div#completedcount
            p.summarynumber
            p.bottomsummarytext="completed"
