doctype html
head
  title= `${title}`
  link(rel='stylesheet' href="/stylesheets/tasks.css")
  script(type='text/javascript' src='/javascripts/tasks-function.js')
body
  div#navbartasks
  div#largestboxtasks
    div#sidebartasks
      img#logo(src="/images/logo-trans-final.png")
      div#taskslistsorts
        div#tasksorts
          img#ddownarrow-tasks(src="/images/blue-ddown-arrow.PNG")
          div#options1
            p#alltasks="All Tasks"
            ul#options1list
              li.alltaskoptions-open= "Inbox"
              li.alltaskoptions-open= "Today"
              li.alltaskoptions-open= "Tomorrow"
              li.alltaskoptions-open= "This Week"
              li.alltaskoptions-open= "Trash"
        div#listsorts
          img#ddownarrow-lists(src="/images/blue-ddown-arrow.PNG")
          div#options2
            p#alllists="Lists"
            ul#options2list
              li.alllistoptions-open= "Work"
              li.alllistoptions-open= "Personal"
        div#tagsorts
          img#ddownarrow-tags(src="/images/blue-ddown-arrow.PNG")
          div#options3
            p#alltags="Tags"
            ul#options3list
              li.alltagoptions-open= "Work"
              li.alltagoptions-open= "Personal"
        div#languagesorts
          img#ddownarrow-languages(src="/images/blue-ddown-arrow.PNG")
          div#options4
            p#alllanguages="Languages"
            ul#options4list
              li.alllanguageoptions-open= "JavaScript"
              li.alllanguageoptions-open= "Python"
              li.alllanguageoptions-open= "HTML"
              li.alllanguageoptions-open= "CSS"
              li.alllanguageoptions-open= "C#"





    div#mainboxtasks
      div#tasks-view
      div#tasks-summary
